*.log
.DS_Store
.claude/
.env
.env*.local
.env.development
.env.local
.env.production
.gstack/
.launch/
.next
.vercel
.worktrees/
Nebius Builders Boat Hackathon/*.docx
Nebius Builders Boat Hackathon/*.pdf
Nebius Builders Boat Hackathon/*.textClipping
next-env.d.ts
node_modules
out
tsconfig.tsbuildinfo
